In [2]:
# The code was removed by DSX for sharing.

      ZIP5   LATITUDE  LONGITUDE    ADDRESS_ID
0  75001.0  32.954281 -96.842703  5.213015e+11
1  75001.0        NaN        NaN  5.213005e+11
2  75001.0  32.944027 -96.850765  5.213006e+11
3  75001.0  32.949073 -96.848105  5.213011e+11
4  75001.0  32.949009 -96.842901  5.213002e+11